@import "src/styles.scss";

footer {
  position: sticky;
  bottom: 0;
  background-color: #111;
  color: #fff;
  height: 55px;
  line-height: 55px;
  font-size: 1.2em;

  p {
    text-align: center;
  }

  a {
    display: inline;

    img {
     height: 45px;
     width: 45px;
    }
  }
}
