main {
  position: absolute;
  left: 50%; /* position the left edge of the element at the middle of the parent */
  margin-top: 50px;  /*https://stackoverflow.com/questions/8508275/how-to-center-a-position-absolute-element */
  transform: translate(-50%);
}

/****review form****/

form {
  margin: auto;
  width: 500px;

  input {
    border: 0;
    font-size: 1.2em;
    margin-bottom: 10px;
    width: 100%;
  }

  button {
    float: right;
    font-size: 1em;
    padding: 5px;
    width: 50%;
  }

  textarea {
    font-size: 1.2em;
    width: 100%;
  }

}

/***image position***/
img {
  width: 250px;
}
figure {
  max-width: 204px;
  position: relative;
  left: 470px;
  top: -360px;
  width: auto;
}


/***lables ***/
.invisible {
    height: 1px;
    left: -1000px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}
