@import "src/styles.scss";

div {
  display: flex;
  flex-direction: row;
  margin: 5px;
  border: 2px solid #000;

  img {
    height: 250px;
  }

  div{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 80%;
  }

}
