/* You can add global styles to this file, and also import other style files */

$colors: (
  primary: turquoise,
  background-thumbnail: #000,
  button: rgb(227, 227, 208),
  button-border: rgb(140, 140, 120),
  primary-font: #333,
  inverted-font: #ccc
);
* {
  box-sizing: border-box;
}

 html {
  background-color: #fff;
  font-family: Arial, sans-serif;
  height: 90vh;
  margin: 0;
  position: relative;
}

body {

  #background{
    background-color : map-get($colors, primary);
    width: 98%;
    margin: 1%;
  }

}
