h3 {
  display: inline-block;
  line-height: 20px;
  margin-bottom: 5px;
  overflow: hidden;
  overflow-wrap: no-wrap;
  position: relative;
  width: 180px;
  white-space: nowrap;

  &::hover {

  }
}

.reviews-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.another-review {
  background-color: lightblue;
  border: 2px solid #333;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  height: 250px;
  margin: 10px;
  text-align: center;
  text-transform: capitalize;
  width: 200px;

  a {
    box-sizing: border-box;
    color: #ccc;
    display: block;
    height: 250px;
    padding-top: 0;
    text-decoration: none;

    img {
      background-color: lightblue;
      width: 120px;
    }
  }
}
